<p id="notice"><%= notice %></p>

<div class="row">
  <div class="pull-left">
    <h1 class="inline-text">Portfolios</h1>
  </div>
  <div class="pull-right">
    <%= link_to 'New Portfolio', new_portfolio_path, class: 'btn btn-sm btn-primary'%>
  </div>
</div>

<br>

<div class="row">
  <% @portfolios.each do |portfolio| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left">
          <h3 class="inline-text"><%= portfolio.name %></h3>
        </div>
        <div class="pull-right">
          <%= link_to 'View', portfolio, class: 'btn btn-sm btn-success' %>
          <%= link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>