<p id="notice"><%= notice %></p>

<div class="row">
  <div class="pull-left">
    <h1 class="inline-text">
      <%= @portfolio.name %>
    </h1>
    <%= link_to 'Edit', edit_portfolio_path(@portfolio), class: 'btn btn-xs btn-primary inline-text' %>
    <h1 class="inline-text">
      <small><%= " Current value = USD #{@portfolio.capital_at(DateTime.now)}" %></small>
    </h1>
  </div>
  <div class="pull-right">
    <h1 class="inline-text"></h1>
    <%= link_to 'Buy/Sell', new_portfolio_deal_path(@portfolio), class: 'btn btn-success inline-text' %>
    <%= link_to 'View transactions history', portfolio_deals_path(@portfolio), class: 'btn btn-default inline-text' %>
  </div>
</div>

<br/>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h3 style="display: inline;">Profit</h3>
      </div>
      <div class="pull-right">
        <div style="display: inline;">
          <%= link_to 'View by year', portfolio_profit_by_year_path(@portfolio), class: 'btn btn-primary', style: 'font-weight: bold' %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12">
        <div class="pull-left">
          From
          <input type="text" class='datepicker start' data-init="<%= @start_date %>" >
          to
          <input type="text" class='datepicker finish' data-init="<%= @finish_date %>" >
        </div>
        <div class="pull-right">
          <h4 class="inline-text">Total profit = USD <div id="profit" class="inline-text"><%= ('%.2f' % @portfolio.profit) %></div></h4>          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 style="display: inline;">Current portfolio stocks</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Stock name</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Current price (USD)</th>
            <th class="text-right">Total (USD)</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @portfolio_stock_amount.each do |sa| %>
            <tr>
              <td><%= sa[0].name %></td>
              <td class="text-right"><%= '%.2f' % sa[1] %></td>
              <td class="text-right"><%= '%.2f' % sa[0].price %></td>
              <td class="text-right"><%= '%.2f' % (sa[1] * sa[0].price) %></td>
              <td class="text-right"><%= link_to 'View stock history', sa[0], class: 'btn btn-xs btn-success disabled' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>